#doz_box {
  position: relative;
  margin-top: calc(50vh - 20rem);
  width: 100%;
  height: 40rem;
  background-color: aquamarine;
}
#doz_box #player_turn_box {
  position: absolute;
  width: 4rem;
  height: 4rem;
  left: calc((50% - 25rem) / 2 - 2rem);
  top: calc(25% - 2rem);
  z-index: 3;
}
#doz_box #player_turn_box #player_turn_dot {
  width: 4rem;
  height: 4rem;
  background-color: rgb(231, 76, 60);
  border-radius: 50%;
}
#doz_box #container {
  position: absolute;
  width: 50rem;
  height: 100%;
  left: calc(50% - 25rem);
  top: 0;
  background-color: rgb(252, 249, 249);
}
#doz_box #container table {
  width: 100%;
  height: 100%;
  border-spacing: 6.5px;
  border-collapse: separate;
}
#doz_box #container table tbody #row1 td {
  width: 20%;
  height: 20%;
}
#doz_box #container table tbody #row2 td {
  width: 20%;
  height: 20%;
}
#doz_box #container table tbody #row3 td {
  width: 20%;
  height: 20%;
}
#doz_box #container table tbody #row4 td {
  width: 20%;
  height: 20%;
}
#doz_box #container table tbody #row5 td {
  width: 20%;
  height: 20%;
}
#doz_box #container table tbody .dot_box {
  background-color: rgb(223, 223, 223);
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 0;
}
#doz_box #container table tbody .dot_box:hover {
  animation: hover 1.4s;
}
#doz_box #container table tbody .dot_box .center_dot {
  border-radius: 50%;
  background-color: rgb(141, 141, 141);
  width: 3rem;
  height: 3rem;
  position: absolute;
  top: calc(50% - 1.5rem);
  left: calc(50% - 1.5rem);
  z-index: 1;
}
#doz_box #container table tbody .dot_box .center_dot:hover {
  cursor: pointer;
  top: calc(50% - 1.6rem);
  left: calc(50% - 1.6rem);
  width: 3.2rem;
  height: 3.2rem;
}
#doz_box #container table tbody .dot_box .center_dot:active {
  top: calc(50% - 1.45rem);
  left: calc(50% - 1.45rem);
  height: 2.9rem;
  width: 2.9rem;
}
#doz_box #reset_button {
  width: 8rem;
  height: 5rem;
  outline: none;
  border-radius: 15px;
  background-color: deeppink;
  cursor: pointer;
  font: 2rem "Times New Roman", Times, serif;
  font-weight: 600;
  color: white;
  position: absolute;
  left: calc((50% - 25rem) / 2 - 4rem);
  top: calc(50% - 2.5rem);
  border: none;
  box-shadow: 5px 7px #888888;
}
#doz_box #reset_button:active {
  width: 7.8rem;
  height: 4.8rem;
  left: calc((50% - 25rem) / 2 - 3.5rem);
  top: calc(50% - 1.9rem);
  box-shadow: none;
}
#doz_box #timer {
  font: 1.8rem "Times New Roman", Times, serif;
  font-weight: 600;
  color: white;
  position: absolute;
  right: calc((50% - 25rem) / 2 - 3.9rem);
  top: calc(50% - 4rem);
}
#doz_box .winner {
  font: 1.8rem "Times New Roman", Times, serif;
  font-weight: 600;
  color: rgb(255, 115, 0);
  position: absolute;
  right: calc((50% - 25rem) / 2 - 4.4rem);
  top: calc(50% - 8rem);
}

.canvas {
  animation: hover1 1.4s;
  animation-fill-mode: forwards;
}

@keyframes hover {
  from {
    opacity: 0.7;
  }
  to {
    opacity: 1;
  }
}
@keyframes hover1 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}/*# sourceMappingURL=style.css.map */